<div>
  <% if current_twitter_user %>
      <div class="post">
        <% current_twitter_user.timeline.each do |feed_item| %>
              <h7>post from</h7>
              <h2><%= link_to feed_item.id, "#" %></h2>
            <% end %>
        </div>
  <% else %>
      <div class="login">
        <%= render 'header' %>
      </div>
  <% end %>
</div>
